*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "SF Pro Text","SF Pro Icons",Arial, Helvetica, sans-serif; 
}
:root{
    --text-color: rgb(255, 255, 255);
    --bg-color:rgb(0, 0, 0,.8);
    --text-heading: #0071ef;
    --text-heading11: #1d1d1f;   
}
#nav{
    border: 2px solid;
    height: 50px;
    background-color: var(--text-heading11);


}
#sub-nav{
    /* border: 2px solid red; */
    height: inherit;
    width: 65%;
    margin: auto;
}
#sub-nav ol{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    fill: var(--text-color);
}
#main{
    /* border: 2px solid; */
    height: 600px;
    background-image: url("./assests/hero_iphone15pro__i70z9oz3hj2i_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#main h2{
    /* border: 5px solid; */
    margin-top: 50%;
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: auto;
    line-height: 400%;

}
#main h3{
    margin-top: 0%;
    color: var(--text-color);
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    line-height: 90%;
    position: absolute;
    top: 245px;
    margin: auto;
    left: 38%;   
}
#main h3+h3{
    text-decoration: none;
    position: absolute;
    top: 40%;
    color: #2997ff;
    font-size: 23px;
    left: 43%;
    

}
#main h3+h3+h3{
    text-decoration: none;
    position: absolute;
    top: 40%;
    color: #2997ff;
    font-size: 23px;
    left: 54%;
}
#main1{
    /* border: 2px solid; */
    height: 600px;
    background-image: url("./assests/hero_iphone15_announce__uuemlcwczn6u_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#main1 h2{
    /* border: 5px solid; */
    margin-top: 50%;
    color: var(--text-heading11);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: auto;
    line-height: 400%;

}
#main1 h3{
    margin-top: 0%;
    color: var(--text-heading11);
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    line-height: 90%;
    position: absolute;
    top: 840px;
    margin: auto;
    left: 38%;   
}
#main1 h3+h3{
    text-decoration: none;
    position: absolute;
    top: 125%;
    color: #2997ff;
    font-size: 23px;
    left: 43%;
    

}
#main1 h3+h3+h3{
    text-decoration: none;
    position: absolute;
    top: 125%;
    color: #2997ff;
    font-size: 23px;
    left: 53%;
}
#para{
    /* border: 2px solid; */
    text-align: center;
    background-color: #1d1d1f;
    color:var(--text-color);
    /* margin-top: 40px; */
    /* padding: 0%; */
    /* margin: 0%; */
    /* box-sizing: border-box; */
    /* top: 50%; */
    padding: 20px;
    font-size: 14px;
}
#main2{
    /* border: 2px solid red; */
    background-image: url("./assests/hero_apple_watch_series_9__x5wo4ptz2giu_medium.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* fill: var(--text-color); */
    /* text-align: center; */
    font-size: medium;
}
#main2 span{
    /* list-style: none; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: var(--text-color);
    fill: var(--text-color);
    height: inherit;
    width: 10%;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-between;
    background-position: center center;
    /* position: absolute; */
    /* top: 100px; */
    /* right: 210px; */
    /* margin-top: 100px; */
}
#main2 h2{
    /* border: 2px solid red; */
    position: absolute;
    top: 228%;
    color: white;
    left: 49%;
    font-size: 40px;
}
#main2 h2+h2{
    /* border: 2px solid red; */
    position: absolute;
    top: 235%;
    color: white;
    left: 49%;
    font-size: 20px;
    font-weight: lighter;
}
#main2 h3{
        /* border: 2px solid red; */
        position: absolute;
        top: 240%;
        color: white;
        left: 39%;
        font-size: 20px;
        font-weight: lighter;
        
}
#main3{
    /* border: 2px solid; */
    height: 600px;
    background-image: url("./assests/promo_apple_watch_ultra2_order__dyxqj5ia98om_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 50%;
}
#main3 span{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    fill: var(--text-heading11);
    /* border: 2px solid red; */
    /* border: 2px solid; */
    height: 50px;
    position: absolute;
    left: 17%;
    top: 280%;
    font-size: 80px;
    /* background-color: var(--text-heading11); */
}
#main3 h3{
    position: absolute;
        top: 289%;
        color: black;
        left: 15%;
        font-size: 20px;
        font-weight: lighter;
}
#main3 h3+h3{
    position: absolute;
        top: 294%;
        color: blue;
        left: 15%;
        font-size: 20px;
        font-weight: lighter;
}
#main3 h3+h3+h3{
    position: absolute;
        top: 294%;
        color: blue;
        left: 25%;
        font-size: 20px;
        font-weight: lighter;
}
#main3 h2{
    position: absolute;
        top: 281%;
        left: 19%;
        font-size: 25px;
        font-weight: bold;
}
#main3 h4{
    position: absolute;
        top: 286%;
        left: 19%;
        font-size: 15px;
        font-weight: bold;
        color: orange;
        letter-spacing: 2px;
}
#main4{
    background-image: url("./assests/promo_mbp__ek7p477bkp6q_medium.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 550px 600px;
    width:550px ;
    margin-left: 40%;
    margin-bottom: 10%;
    position: absolute;
    left: 18%;
    top: 279%;

}
#main4 h4{
    text-align: center;
    position: absolute;
    top: 3px;
    left: 32%;
    font-weight: bolder;
    font-size: 30px;
}
#main4 h5{
    text-align: center;
    position: absolute;
    top: 55px;
    left: 25%;
    font-weight: lighter;
    font-size: 20px;
}
#main4 h3{
    position: absolute;
    top: 100px;
    left: 30%;
    color: #0071ef;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}
#main4 h3+h3{
    text-align: center;
    top: 100px;
    left: 54%;
    color: #0071ef;
    font-weight: lighter;
    font-size: 20px;
}
#main5{
    background-image: url("./assests/promo_ipad__fioegapg12qi_medium\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 50%;
    height: 600px;
}
#main5 h4{
    position: absolute;
        top: 363%;
        left: 19%;
        font-size: 25px;
        font-weight: bold;
}
#main5 h3{
    position: absolute;
    top: 369%;
    color: black;
    left: 15%;
    font-size: 20px;
    font-weight: lighter;
}
#main5 h3+h3{
    position: absolute;
    top: 373%;
    color: blue;
    left: 15%;
    font-size: 20px;
    font-weight: lighter;
}
#main5 h3+h3+h3{
    position: absolute;
    top: 373%;
    color: blue;
    left: 25%;
    font-size: 20px;
    font-weight: lighter;
}
#main6{
    background-image: url("./assests/tile_homepod_mini__b73w4z3ljymu_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 50%;
    height: 600px;
}
#main6 h4{
    position: absolute;
        top: 463%;
        left: 17%;
        font-size: 25px;
        font-weight: bold;
}
#main6 h3{
    position: absolute;
    top: 469%;
    color: blue;
    left: 17%;
    font-size: 20px;
    font-weight: lighter;
}
#main6 h3+h3{
    position: absolute;
    top: 469%;
    color: blue;
    left: 27%;
    font-size: 20px;
    font-weight: lighter;
}
#main7{
    background-image: url("./assests/promo_airpods_pro_order__d8xv36p4uwae_medium.jpg");
    height: 600px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 600px 600px;
    width:600px ;
    margin-left: 40%;
    margin-bottom: 50%;
    position: absolute;
    left: 15%;
    top: 360%;
    border: 2px solid white;
}
#main7 h4{
    /* text-align: center; */
    position: absolute;
    top: 50px;
    left: 32%;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}
#main7 h3{
    position: absolute;
    top: 90px;
    left: 27%;
    font-weight: lighter;
    font-size: 23px;
    color: white;
}
#main7 h3+h3{
    position: absolute;
    top: 130px;
    left: 32%;
    font-weight: lighter;
    font-size: 20px;
    color: blue;
}
#main7 h3+h3+h3{
    position: absolute;
    top: 130px;
    left: 56%;
    font-weight: lighter;
    font-size: 20px;
    color: blue;
}
#main8{
    background-image: url("./assests/promo_iphone_tradein__bugw15ka691e_medium.jpg");
    height: 600px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 600px 600px;
    width:600px ;
    margin-left: 40%;
    margin-bottom: 50%;
    position: absolute;
    left: 15%;
    top: 456%;
    border: 2px solid white;
}
#main8 h4{
    position: absolute;
    top: 50px;
    left: 32%;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}
#main8 h3{
    position: absolute;
    top: 90px;
    left: 27%;
    font-weight: lighter;
    font-size: 23px;
    color: black;
}
#main8 h3+h3{
    position: absolute;
    top: 130px;
    left: 32%;
    font-weight: lighter;
    font-size: 20px;
    color: blue;
}
#main8 h3+h3+h3{
    position: absolute;
    top: 130px;
    left: 56%;
    font-weight: lighter;
    font-size: 20px;
    color: blue;
}






